<div class="container">
	<div class="row">
		{% for beer in beers %}
			<div class="col-sm-6 col-lg-4 col-xl-3 my-3">
				<div class="card">
					<img src="{{ asset('build/images/biere.jpg') }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title d-flex justify-content-between">{{ beer.name|capitalize }}
							<small class="text-muted">{{ beer.price }}
								<i class="fas fa-euro-sign"></i>
							</small>
						</h5>
						<p class="card-text">{{ beer.description }}</p>
					</div>
					<ul class="list-group list-group-flush">
						{% if beer.country %}
							<li class="list-group-item">
								<i class="far fa-flag"></i>
								<a class="card-link" href="{{ path('country_beer', { 'id' : beer.country.id }) }}">
									{{ beer.country.name }}
								</a>
							</li>
						{% endif %}

						<li class="list-group-item">
							<i class="far fa-clock"></i>
							{{ beer.publishedAt|format_datetime() }}
						</li>

						<li class="list-group-item">
							<i class="far fa-sun"></i>
							{% for category in beer.categories %}
								{{ loop.first ? category.name|capitalize : category.name }}{{ not loop.last ? ', ' : '' }}
							{% endfor %}
						</li>

						{% if is_granted('ROLE_VISITOR') and not check_statistic_exists(beer.id, app.user.client.id) %}
							<li class="list-group-item">
								{{ render(controller('App\\Controller\\BarController:newStatistic',{
									'id' : beer.id
								})) }}
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
