<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark container-fluid">
	<div class="d-flex justify-content-between">
		<a href="/" class="mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<span class="fs-4">Bar</span>
		</a>
		<button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
	</div>
	<div class="collapse show" id="navbarToggler">
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="{{ path('bar') }}" class="nav-link {{ route_name == 'bar' ? 'active' }} text-white" aria-current="page">
					<i class="fas fa-home"></i>
					Home
				</a>
			</li>

			<li class="nav-item dropdown">
				<a href="#" class="nav-link {{ route_name == 'category_beer' ? 'active' }} text-white dropdown-toggle" id="dropdownCategories" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
					<i class="fas fa-sun"></i>
					Categories
				</a>

				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownCategories">
					{% for category in categories_normal %}
						<li>
							<a
								class="dropdown-item {{ category_id and category_id == category.id ? 'active' }}"
								href="{{ path('category_beer', {'id': category.id}) }}"
							>
								{{ category.name|capitalize }}
							</a>
						</li>
					{% endfor %}

					<li><hr class="dropdown-divider"></li>

					{% for category in categories_special %}
						<li>
							<a
								class="dropdown-item {{ category_id and category_id == category.id ? 'active' }}"
								href="{{ path('category_beer', {'id': category.id}) }}"
							>
								{{ category.name|capitalize }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
			
			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a href="{{ path('statistics') }}" class="nav-link {{ route_name == 'statistics' ? 'active' }} text-white" aria-current="page">
						<i class="fas fa-chart-bar"></i>
						Statistics
					</a>
				</li>
			{% endif %}

		</ul>
		<hr>

		{% if app.user %}

		<div class="dropdown">
			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
				<strong>{{ app.user.client.name }}</strong>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
				<li>
					<a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>
			</ul>
		</div>

		{% else %}
			<a href="{{ path('app_login') }}" class="p-3 text-white text-decoration-none">Se connecter</a>

		{% endif %}
	</div>
</div>
